# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# `changeset`-managed files
.changeset/
CHANGELOG.md

# Build Output
.svelte-kit/
dist/
demo-plugin/main.js

# Miscellaneous
obsidian-svelte-ui/static/
