# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# `changeset`-managed files
.changeset/
CHANGELOG.md

# Build Output
.svelte-kit/
dist/
demo-plugin/main.js
obsidian-svelte-ui/README.md

# Demo Vault
demo-plugin/data.json
demo-vault/.obsidian/

# Miscellaneous
obsidian-svelte-ui/static/
